html,body {
    background: url("../images/background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;   
    -o-background-size: cover;     
    background-size: cover;        
}


#jumbo {
    background: rgb(250, 220, 220);
    background: rgba(253, 225, 225, 0.7);
}
.head {
    background-image: url("../images/background1.png");
    font-size: 80px;
    line-height: 80px;
    padding: 5px 0px 0px 5px;
    text-align: center;
    color: #f5c100;
    font-family: 'Black Ops One', cursive;
    border-bottom: 5px;
    border-style: solid;
    border-color: aliceblue;
}

.char {
    margin-top:-40px;
    text-align: center;
}

.jumbotron {
    margin-top:70px;
    margin-bottom:70px;
}

.name {
    font-family: 'Rubik', sans-serif;
}

.power, .health, .health2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.chosen {
    text-align: center;
}

.yourFighter{
    text-align: center;
}


h2 {
    font-family: 'Bungee', cursive;
}

.attack {
    background-color: #f5c100;
    border: 2px;
    border-style: solid;
    border-color: black;
}

#zaza{
    color:black;
    font-family: 'Black Ops One', cursive;
}

.bott {
    background-image: url("../images/background1.png");
    font-size: 8px;
    height:16px;
    position: fixed;
    bottom:0;
    width:100%;
    border-top: 2px;
    border-style: solid;
    border-color: aliceblue;
    clear: both;
}

.cpp {
    color:#f5c100;
    padding-top:2px;
}

#characterWrapper {
    margin-top:10px;
}


.available{
    float: right;
    width:780px;
    margin-right:-2%;
    text-align: center;
}

#available2{
    float: left;
    clear: both;
}

#health2, #health {
    color:rgb(0, 136, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.oppo {
    text-align: center;
}

.oppoOne {
    margin-left: 30%;
}

.life {
    margin-left:-14%;
}
