html,body {
    background: url("../images/background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;   
    -o-background-size: cover;     
    background-size: cover;  
    zoom: 85%;     
}


#jumbo {
    background: rgb(250, 220, 220);
    background: rgba(253, 225, 225, 0.7);
}
.head {
    background-image: url("../images/background1.png");
    font-size: 80px;
    line-height: 80px;
    padding: 5px 0px 0px 5px;
    text-align: center;
    color: #f5c100;
    font-family: 'Black Ops One', cursive;
    border-bottom: 5px;
    border-style: solid;
    border-color: aliceblue;
}

.char {
    margin-top:-40px;
    text-align: center;
}

.jumbotron {
    margin-top:70px;
    margin-bottom:70px;
}

.name {
    font-family: 'Rubik', sans-serif;
}

.power1, .power2, .power3, .power4, .health, .health2 {
    color:rgb(0, 136, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .70px;
}
.chosen {
    text-align: center;
}

.yourFighter{
    text-align: center;
}

h2 {
    font-family: 'Bungee', cursive;
}

.attack {
    background-color: #f5c100;
    border: 2px;
    border-style: solid;
    border-color: black;
}

#zaza{
    color:black;
    font-family: 'Black Ops One', cursive;
}

.bott {
    background-image: url("../images/background1.png");
    height:16px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    border-top: 2px;
    border-style: solid;
    border-color: aliceblue;
    clear: both;
}

.cpp {
    color:#f5c100;
    padding-top:3px;
    font-size: 8px;
    text-align: center;

}

#characterWrapper {
    margin-top:10px;
}


.available{
    float: right;
    width:780px;
    margin-right:-2%;
    text-align: center;
}

#available2{
    float: left;
    clear: both;
}

#health2, #health {
    color:rgb(0, 136, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .70px;
}

.oppo {
    text-align: center;
}

.oppoOne {
    margin-left: 30%;
}

.life {
    margin-left:-14%;
}

.outcomes{
    float:left;
}

#titles{
    text-align: center;
    margin-top: 20px;
}

#results1, #results2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-align: center;
    font-size: 30px;
    border:solid;
    border-width: 5px;
    border-color: black;
    padding:10px;
}